@font-face {
  font-family: Cocogoose;
  src: url("../fonts/Cocogoose_trial.otf");
}

p,
h1,
h3 {
  margin: 0;
}

body {
  font-family: Roboto, 'Courier New', Courier, monospace;
  margin: 0;
  letter-spacing: 1px;
  padding: 0;
  background: #fff;
  font-size: 14px;
}

header {
  position: relative;
  background: #d3d3d3 url("../images/heading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.font-cocogoose {
  font-family: Cocogoose, "Courier New", Courier, monospace;
}

.headline .title {
  font-size: 40px;
  color: #ec5242;
}

.title-sub {
  font-size: 20px;
  color: #ec5242;
  margin-bottom: 10px;
}

.backdrop {
  background: #d3d3d3d7;
  backdrop-filter: blur(2px);
  padding: 100px 16px;
}

.mobile-nav {
  cursor: pointer;
  position: fixed;
  top: 24px;
  left: 34px;
  z-index: 1;
}

.mobile-nav .menu div {
  width: 40px;
  height: 7px;
  margin-bottom: 5px;
  background: #5f6167;
}

.caption {
  background: #d3d3d3c4;
  padding: 14px;
  font-size: 12px;
  border: 2px solid #fff;
  font-weight: 600;
  color: #5f6167;
  margin-top: 16px;
}

.event_date {
  font-size: 26px;
  margin-top: 24px;
  color: #5f6167;
}

.location {
  color: #5f6167;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.programs {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%230c0c0d' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  padding: 36px 5px;
}

.programs .title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.programs .title {
  font-size: 24px;
  font-weight: 600;
}

.programs .red-line {
  width: 50px;
  border-color: #ec5242;
}

.join_summit {
  display: block;
  margin: 0 auto;
  padding: 30px 42px;
  color: #fff;
  font-size: 16px;
  border: none;
  background: #ec5242;
  letter-spacing: 1px;
}

.programs .list {
  list-style: none;
  padding: 0;
  margin: 30px;
}

.programs .list li .card {
  display: flex;
  margin: 10px;
  background-color: #18181896;
  align-items: center;
  padding: 28px 24px;
}

.programs .list li .card i {
  font-size: 30px;
  display: block;
}

.programs .list li .card h3 {
  font-size: 15px;
  margin: 0 10px;
  margin-left: 24px;
  color: #ec5242;
  width: 30%;
}

.programs .list li .card p {
  font-size: 11px;
  margin: 0 10px;
  width: 65%;
}

.speakers {
  padding: 36px 24px;
}

.speakers .title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers .title {
  font-size: 24px;
  font-weight: 600;
}

.speakers .red-line {
  width: 50px;
  border-color: #ec5242;
}

.speakers .list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 40px -24px;
  padding: 0;
}

.speakers .list li .card {
  display: flex;
  padding: 24px;
}

.speakers .list li .card .profile {
  width: 25%;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}

.speakers .list li .card .details {
  width: 75%;
  padding-left: 24px;
}

.speakers .list li .card .position {
  color: #ec5242;
  padding: 5px 0;
  font-style: italic;
}

.speakers .list li .card hr {
  width: 30px;
  display: inline-block;
  border-color: #ec5242;
}

.speakers .list li .profile .check {
  width: 50px;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
}

.speakers .list li .profile .avater {
  width: 100%;
  z-index: 1;
}

.partners {
  background: #272a31;
  color: #fff;
  padding: 36px 10px;
}

.partners .title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners .title {
  font-size: 24px;
  font-weight: 600;
}

.partners .red-line {
  width: 50px;
  border-color: #ec5242;
}

.partners .list {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners .list li svg {
  margin: 10px 16px;
  width: 120px;
}

footer {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 18px;
  font-family: Cocogoose, "Courier New", Courier, monospace;
  color: #272a31;
}

.mobile-menu {
  background: #ec5342c7;
  z-index: 50;
  height: 100%;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(2px);
  display: none;
  top: 0;
}

.mobile-menu > .close-modal {
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 27px;
  top: 8px;
  font-size: 40px;
}

.mobile-menu > nav {
  padding: 86px 98px 86px 28px;
}

.mobile-menu > nav > ul {
  list-style: none;
}

.mobile-menu > nav > ul > li {
  margin-bottom: 40px;
}

.mobile-menu > nav > ul > li > a {
  color: white;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
    background: #fff;
  }

  .top-nav {
    background: #272a31;
    padding: 10px 0;
    color: #fff;
  }

  .top-nav .list {
    justify-content: end;
  }

  .top-nav .list li {
    margin: 0 10px;
  }

  .desktop-nav .main-nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav .list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav .list {
    margin: 0 -10px;
  }

  .desktop-nav .main-nav .logo {
    color: #ec5242;
  }

  .desktop-nav .main-nav .list li a {
    text-decoration: none;
    margin: 0 20px;
    color: #5f6167;
    font-size: 16px;
  }

  .nav-btn {
    border: 4px solid #ec5242;
    color: #ec5242 !important;
    font-weight: 600;
    padding: 16px 20px;
    cursor: pointer;
    margin-right: 0;
  }

  .desktop-nav .main-nav .list li a:active {
    color: #ec5242;
  }

  .headline .title-sub {
    font-size: 24px;
  }

  .headline .title {
    width: 80%;
    font-size: 50px;
  }

  .headline .caption {
    width: 60%;
    font-size: 16px;
    padding: 24px;
    margin-bottom: 30px;
  }

  .headline .event_date {
    font-size: 30px;
  }

  .headline .location {
    font-size: 20px;
  }

  .programs .list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
  }

  .programs .list li {
    width: 20%;
    margin: 0;
    display: flex;
  }

  .programs .list li .card p,
  .programs .list li .card h3,
  .programs .list li .card i {
    padding: 0;
    width: auto;
    text-align: center;
    margin: 5px 0;
  }

  .programs .list li .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 0 2px;
    width: 100%;
  }

  .speakers .list li {
    width: 50%;
  }

  .speakers .list li .card {
    padding: 16px;
  }

  .active {
    color: #ec5242;
  }
}
